@font-face {
  font-family: "Manrope";
  src: url("../fonts/Manrope/Manrope-VariableFont_wght.ttf");
}
@font-face {
  font-family: "PorscheNextArabicTT";
  src: url("../fonts/PorscheNextArabicTT-Regular.ttf");
}
